body{
    margin: 0;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, #cccccc 100%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    width: 200px; 
    border-radius: 20px;
    margin: 20px;
}

button{
    border: 1px solid black;
    border-radius: 10px;
    background-color: aquamarine;
}

button:hover{
    background-color: rgb(73, 154, 127);
    transition: all 0.5s ease-in-out;
}

span{
    margin: 20px;
}

/* Generar random gatos */

#uploadImage h2{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    text-align: center;
}

.contenedorTitulo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedorTitulo h1{
    text-align: center;
    color: beige;
    margin: 30px;
    font-size: xx-large;
}

.contenedorTitulo button{
    width: 200px;
}

.randomGatosImagenes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 800px;
    margin: 50px 100px 20px 100px;
    padding: 20px 0 40px;
    background:rgba(0, 0, 0, 0.321);
    flex-wrap: wrap;
    backdrop-filter: blur(6px);
    border-radius: 20px;
}

  
.articuloRandom {
float: left;
position: relative;
margin-right: 10px;
margin-bottom: 10px;
}
  
.heart-button {
position: absolute;
top: 35px;
right: 55px;
width: 10px;
height: 30px;
}


/* BOTON DE FAVORITO */

.heart-button input[type="checkbox"] {
position: absolute;
opacity: 0;
cursor: pointer;
height: 0;
width: 0;
}

.heart-icon {
position: relative;
top: 0;
left: 0;
width: 30px;
height: 30px;
font-size: 20px;
line-height: 30px;
text-align: center;
color: #ccc;
transition: all 0.2s ease-in-out;
}

.heart-button:hover .heart-icon {
color: #e74c3c;
}

.heart-button input[type="checkbox"]:checked + .heart-icon {
color: #e74c3c;
}

/* SECCIÓN DE CARGAR FOTO  */


#submitMichi,
.custom-file-upload {
  width: 260px;
  height: 50px;
  border-radius: 20px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  background-color: #DB3A34;
  opacity: 0.6;
  color: #fff;
  transition: 0.5s;
  margin: 20px 20px 0px 20px;
  text-align: center;
}

.custom-file-upload:hover,
#submitMichi:hover {
  opacity: 1;
}

#submitMichi i,
.custom-file-upload i {
  margin-left: 12px;
}

.custom-file-upload {
  border-radius: 20px 20px 0 0;
  background-color: #f0f0f0;
  color: #000;
  line-height: 50px;
  text-align: center;
}

#submitMichi {
  border-radius: 0 0 20px 20px;
  margin: 0px 20px 20px 20px;
}

#uploadForm {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
}

#file {
  display: none;
}

#preview {
  width: 260px;
  height: 260px;
  object-fit: cover;
  box-shadow: 0 40px 60px -6px black;
  margin: 0 20px 0 20px;
  border-color: #DB3A34;
}

/* SECCIÓN FAVORITOS */


#favorites{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 800px;
    margin: 20px 100px 50px 100px;
    padding: 20px 0 40px;
    background:rgba(0, 0, 0, 0.321);
    flex-wrap: wrap;
    backdrop-filter: blur(6px);
    border-radius: 20px;
}




#tittleFavorites h1{
    width: 700px;
    text-align: center;
    color: beige;
    font-size: 30px;
}


.articuloFavorito {
    float: left;
    position: relative;
    margin-right: 10px;
    margin-bottom: 10px;
}
      
.out-button {
    position: absolute;
    top: 35px;
    right: 35px;
    width: 10px;
    height: 30px;
}

/* BOTON DE desfavorito */

.out-button input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
    
.out-icon {
    position: relative;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #ccc;
    transition: all 0.2s ease-in-out;
    color: #e74c3c;
}

.out-button:hover .out-icon {
    color: #cccccc;
}

.out-button input[type="checkbox"]:checked + .out-icon {
    color: #cccccc;
}



/* // Favoritos */

#favorites article{
    display: flex;
    flex-direction: column;
}

#favorites h2{
    width: 700px;
    text-align: center;
    color: beige;
    font-size: 30px;
}

#favorites article button{
    height: 40px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}